.leaderboard {
    font-family: monospace;
    font-size: large;
}

.leaderboard table {
    border-spacing: 2ch 0;
}

.leaderboard-header {
    line-height: 1em;
}

.leaderboard-gold {
    color: gold;
    text-shadow: 1px 1px darkgoldenrod;
    font-weight: bold;
}

.leaderboard-silver {
    color: silver;
    text-shadow: 1px 1px black;
}

.right {
    text-align: right;
}
